.menu {
  background: #010e2d;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
}

.menu img {
  width: 175px;
  margin-top: 10px;
  height: 90px;
}

.menu .search {
  border-radius: 100px;
  background: white;
  padding: 8px 15px;
  width: 93%;
  display: flex;
  justify-content: space-between;
}

.menu .dashboard {
  display: flex;
  color: #818897;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding: 20px;
  font-weight: 500;
  font-size: 17px;
}

.menu .fa-microsoft {
  font-size: 24px;
  margin-right: 15px;
}

.menu .settings {
  padding: 20px;
  width: 100%;
  text-align: left;
  color: #434c62;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
}

.menu .setting-menu {
  width: 100%;
}

.menu .settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 14px 20px;
  color: #818897;
  font-weight: 500;
  font-size: 17px;
}

.menu .settings-subitem {
  width: 100%;
  padding: 12px 40px;
  color: #818897;
  font-weight: 500;
  font-size: 17px;
  background: #1a2642;
  border-left: 1px solid #818897;
}

.menu .clicked-item {
  background: #08ac6c;
  color: white;
}

.menu .clicked-subitem {
  background: #28344c;
  color: #08ac6c;
  border-left: 1px solid #08ac6c;
}
