.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 15px 0;
  border-bottom: 1px solid #dee1e9;
}

.navbar .navbar-left,
.navbar .navbar-right {
  display: flex;
}

.navbar p {
  margin: 0 4px;
  color: #535865;
}

.navbar p:first-child {
  font-weight: 700;
}

.navbar .fa-question-circle,
.navbar .fa-bell {
  font-size: 24px;
  margin-right: 24px;
}

.navbar .navbar-right .notifications {
  position: relative;
}

.navbar .navbar-right .notifications .count {
  position: absolute;
  top: 0;
  right: 19px;
  width: 17px;
  height: 15px;
  background: red;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
