.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.popup .popup-window {
  background: #f7fafb;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 550px;
  max-width: 90%;
  position: relative;
}

.popup .header {
  font-size: 20px;
  border-radius: 8px 8px 0 0;
  background: #010e2d;
  color: white;
  font-weight: 500;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup .body {
  border-bottom: 1px solid #dee1e9;
}

.popup .body .add-field {
  margin: 24px;
  position: relative;
}

.popup .body .add-field p:first-of-type {
  color: #28344d;
  font-weight: 700;
}

.popup .body .add-field input,
.popup .body .add-field select {
  width: 100%;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  color: #919fb3;
  border: 1px solid #dee1e9;
}

.popup .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
.popup .footer p {
  color: #28344d;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  font-size: 13px;
}

.popup .footer button {
  color: #28344d;
  border-radius: 5px;
  padding: 5px 15px;
  margin-left: 10px;
  font-weight: 500;
  border: 1px solid #919fb3;
}

.popup .footer button:nth-child(2) {
  background: #00a86b;
  color: white;
  font-weight: 500;
}

.popup p.error {
  color: red;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  
}
