.col {
  padding: 0;
}

.user-management-body {
  padding: 0 24px;
}

p {
  margin: 0;
  padding: 0;
}

.user-management {
  letter-spacing: -0.5px;
  font-size: 15px;
  font-weight: 547;
}

.user-management .header {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.user-management .header button {
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  background: #00a86b;
  border: none;
}

.user-management .header button i {
  margin-right: 8px;
}
